In [1]:
def good_str(line):
    output = line[5][1:]
    #print(line[5])
    for i in range(6, len(line)):
        output += ' {}'.format(line[i])
        
#     print(output)
    return output[:-1]

In [2]:
f = open("data_fullnesses.txt", 'r')
csvs_list = []
for line in f:
    str = line.split()
    if len(str) > 5:
        if float(str[3]) > 0.65:
            csvs_list.append(good_str(str))

In [3]:
import pandas as pd

In [4]:
csvs_list[1]

'Agriculture & Rural Development/API_AG.LND.ARBL.ZS_DS2_en_csv_v2_10188171.csv'

In [5]:
temp_df = pd.read_csv('../data/' + csvs_list[1], skiprows=[0, 2])
temp_df = temp_df.iloc[temp_df[temp_df['Country Name'] == 'United States'].index[0]]
temp_df['Indicator Code'] = csvs_list[1].split()[0]
temp_df

Country Name                     United States
Country Code                               USA
Indicator Name    Arable land (% of land area)
Indicator Code                     Agriculture
1960                                       NaN
1961                                   19.7217
1962                                   19.3357
1963                                   19.6064
1964                                   19.4308
1965                                   19.3253
1966                                   19.1839
1967                                    19.051
1968                                   19.7621
1969                                   20.6622
1970                                   20.6066
1971                                   20.5416
1972                                   20.4767
1973                                   20.4226
1974                                   20.3595
1975                                   20.3595
1976                                   20.3595
1977                                   20.3683
1978                                   20.6088
1979                                   20.6088
1980                                   20.6088
1981                                   20.6088
1982                                   20.5007
1983                                   20.5007
1984                                   20.5007
1985                                   20.5007
                              ...
1989                                   20.2781
1990                                   20.2726
1991                                   20.2726
1992                                   20.0984
1993                                   19.9529
1994                                   19.8646
1995                                   19.8537
1996                                   19.5444
1997                                     19.39
1998                                   19.3015
1999                                   19.1472
2000                                    19.141
2001                                   19.1445
2002                                     18.88
2003                                   18.7334
2004                                   18.2337
2005                                   18.0219
2006                                   17.5118
2007                                   17.6688
2008                                   17.6894
2009                                   17.2683
2010                                   17.0459
2011                                   16.5806
2012                                   16.9564
2013                                   16.6431
2014                                   16.8644
2015                                   16.6454
2016                                       NaN
2017                                       NaN
Unnamed: 62                                NaN
Name: 249, Length: 63, dtype: object

In [6]:
temp = pd.DataFrame()
for a in csvs_list:
    file_line = '../data/' + a
    df = pd.read_csv(file_line, sep=',', skiprows=[0,2])
    temp_df = df.iloc[df[df['Country Name'] == 'United States'].index[0]]
    temp_df['Indicator Code'] = a.split()[0]
    temp = temp.append(temp_df)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
temp.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,Country Code,Country Name,Indicator Code,Indicator Name,Unnamed: 62
249,NaN,9.833361e-01,9.493776e-01,9.489120e-01,9.274424e-01,9.109484e-01,8.939001e-01,8.780899e-01,9.018166e-01,9.337221e-01,...,4.814203e-01,4.841638e-01,4.742791e-01,NaN,NaN,USA,United States,Agriculture,Arable land (hectares per person),NaN
249,NaN,1.972167e+01,1.933571e+01,1.960637e+01,1.943081e+01,1.932534e+01,1.918395e+01,1.905096e+01,1.976207e+01,2.066217e+01,...,1.664313e+01,1.686437e+01,1.664540e+01,NaN,NaN,USA,United States,Agriculture,Arable land (% of land area),NaN
249,NaN,6.486956e+07,6.054801e+07,6.242021e+07,6.097701e+07,6.037927e+07,6.114163e+07,6.584778e+07,6.304203e+07,5.925875e+07,...,5.948680e+07,5.797903e+07,5.812005e+07,58454097.0,NaN,USA,United States,Agriculture,Land under cereal production (hectares),NaN
249,NaN,2.051543e-01,2.070104e-01,2.040625e-01,2.044992e-01,2.044992e-01,2.014421e-01,1.987125e-01,1.959830e-01,1.932534e-01,...,2.842331e-01,2.842331e-01,2.842331e-01,NaN,NaN,USA,United States,Agriculture,Permanent cropland (% of land area),NaN
249,NaN,9.158960e+06,9.158960e+06,9.158960e+06,9.158960e+06,9.158960e+06,9.158960e+06,9.158960e+06,9.158960e+06,9.158960e+06,...,9.147420e+06,9.147420e+06,9.147420e+06,9147420.0,9147420.0,USA,United States,Agriculture,Land area (sq. km),NaN

In [8]:
with open('table.csv', mode='w', encoding='utf-8') as f_csv:
    temp.to_csv(f_csv, index=False)